
body{
    background-color: rgb(0, 0, 0);
    color: limegreen;
}
#command{
    background-color: black;
    color:limegreen;
    border-color: black;
}
button{
    background-color: black;
    color: limegreen;
    border-color: black;
    padding-top: 0px;
}
#sum{
    color: limegreen;
    padding-bottom: 50px;
}
